.SummaryCard {
  --border-radius: 4px;
  &-list, &-footer {
    padding-right: rem-convert(20px);
    padding-left: rem-convert(20px);
  }
  &-list {
    background: var(--white);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding-top:  rem-convert(8px);
  }
  &-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: rem-convert(15px);
    padding-bottom: rem-convert(15px);
    & > div:last-child {
      max-width: 120px;
      text-align: right;
      @apply paragraph-5;
      color: var(--grey-dark);
    }
    & > div:first-child {
      @apply paragraph-4;
      color: var(--black);
      font-weight: 600;
    }
    border-bottom: 1px solid var(--grey-lighter);
    &:last-child {
      border-bottom: none;
    }
  }
  &-footer {
    background: var(--theme-medium);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    @apply paragraph-5;
    padding-bottom:  rem-convert(20px);
    color: var(--black);
  }
  &-total {
    display: flex;
    justify-content: space-between;
    padding-top: rem-convert(20px);
    padding-bottom: rem-convert(8px);
    @apply paragraph-4;
    color: var(--black);
    font-weight: 600;
    & > div:last-child {
      text-align: right;
    }
  }
  .FilterPill-icon {
    color: var(--theme-dark);
  }
}
