.Accordion {
  &-summary {
    @apply paragraph-2;
    padding: rem-convert(14px) rem-convert(16px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--grey-lighter);
    color: var(--black);
    outline: 0;

    &::marker {
      font-size: 0;
    }

    &:focus-visible {
      outline: var(--theme) solid 1px;
      border-bottom: 0px solid transparent;
    }
  }

  &-icon {
    height: rem-convert(28px);
    width: rem-convert(28px);
    color: var(--black);
    transform: rotate(0);
    transition: 0.2s ease all;
  }

  &-content {
    @apply paragraph-5;
    padding: rem-convert(18px) rem-convert(28px) rem-convert(30px)
      rem-convert(16px);
    border-bottom: 1px solid var(--grey-lighter);
    color: var(--black);
  }

  &[open] {
    .Accordion-summary {
      border-bottom: none;
    }

    .Accordion-icon {
      transform: rotate(-180deg);
      transition: 0.2s ease all;
    }
  }

  &--promo {
    .Accordion-summary {
      @apply paragraph-4;
      font-weight: 600;
      border-bottom: none;
    }

    .Accordion-content {
      border-bottom: none;
      padding: rem-convert(0px) rem-convert(16px) rem-convert(20px)
        rem-convert(16px);
    }
  }

  &--filter {
    background-color: var(--theme-lightest);

    .Accordion-summary {
      @apply paragraph-4;
      border-bottom: none;
    }

    .Accordion-content {
      border-bottom: none;
      padding: rem-convert(0px) rem-convert(16px) rem-convert(20px)
        rem-convert(16px);
    }
  }

  &--faq {
    .Accordion-summary {
      @apply h4;
      padding: rem-convert(14px) rem-convert(10px) rem-convert(14px) 0;

      @media screen and (min-width: 768px) {
        padding: rem-convert(18px) rem-convert(10px) rem-convert(18px) 0;
      }
    }

    .Accordion-content {
      @apply paragraph-2;
      padding: 0 0 rem-convert(20px) 0;
    }

    .Accordion-icon--minus {
      display: none;
    }

    &[open] {
      .Accordion-icon--minus {
        display: block;
      }

      .Accordion-icon--plus {
        display: none;
      }
    }
  }
}
