{% set size = size|default(null) %} {# size: 'large'|'small' #}
{% set disabled = disabled|default(false) %}
{% set iconLeft = iconLeft|default(null) %}
{% set iconRight = iconRight|default(null) %}
{% set customText = customText|default('') %}

{% set classes = '' %}
{% if size %}
   {% set classes = classes ~ 'Tab--' ~ size %}
{% endif %}

<button class='Tab {{ classes }}' {% if disabled %}disabled{% endif %}>
  {% if iconLeft %}
    <span class='Tab-icon'>{{ ux_icon(iconLeft) }}</span>
  {% endif %}
  {{ customText }}
  {% if iconRight %}
    <span class='Tab-icon'>{{ ux_icon(iconRight) }}</span>
  {% endif %}
</button>
