# Ignore compiled files.
dist
dist/**/*
!dist/.gitkeep

# npm
node_modules

# Storybook
.out
storybook-static

# System
.DS_Store
.idea
.vscode

# Git deploy
.publish

# Composer
composer.lock
vendor

# Jest
.coverage

*storybook.log
