{%  extends 'base.html.twig' %}

{% block title %}
  {{ 'My delivery addresses'| trans }}
{% endblock %}

{% block body %}
	{# {% set addresses = resources('/api/front/account/addresses', {'customer.id': attr('customer', 'id')}) %} #}
	{% set addresses = [
    {
      title: "Adresse principale",
      name: "John Doe",
      address1: "12 rue de la paix",
      address2: "",
      zipCode: "75000",
      city: "Paris",
      country: "France",
      phone: "0123456789",
      id: 1,
    }
  ] %}

  <div class="relative">
    {% include "@components/Molecules/Button/Button.html.twig" with {
      text: 'My account' | trans,
      href: '/account',
      variant: 'minimal',
      icon_left: 'chevron-left',
      classes: 'absolute top-2 lg:top-6 lg:left-5',
    } %}

    {% include '@components/Layout/Subheader/TitleOnly/SubheaderTitle.html.twig' with {title: "My delivery addresses" | trans, position: "centered" }  %}
  </div>
  {% if addresses|length > 0 %}
  <div class="flex flex-col items-center justify-center mt-6 md:mt-11 mb-[80px] md:mb-[120px] px-6">
    <div class="grid w-full max-w-screen-lg grid-cols-1 gap-6 mx-auto md:grid-cols-2">
      {% for address in addresses %}
        {% include '@components/Organisms/Card/Address/AddressCard.html.twig' with {
          address: address,
          attributesDelete: {
            'class': 'open-modal',
            'data-id': 'confirmDeleteAdresse'
          }
        } %}
      {% endfor %}
    </div>

    {% include '@components/Molecules/Button/Button.html.twig' with {
      text: "Add an address" | trans,
      classes: "mt-8 w-[340px]",
      href: "/address"
    } %}
  </div>
  {% else %}
    <div class="flex flex-col items-center justify-center text-center mt-11 lg:mt-12 mb-20">
      <div class="w-[135px] h-[140px] lg:w-[244px] lg:h-[253px]">
        {{ source('assets/images/nothing.svg') }}
      </div>
      <h3 class="mt-4 mb-6 h3">{{ 'You have no registered address yet' | trans }}</h3>
    </div>
  {% endif %}
{% endblock %}

{% block footer %}
	{% include '@components/Layout/Footer/FooterCheckout.html.twig' %}
{% endblock %}

{% block modals %}
  {% set customContent %}
    <div class='h4'>Êtes-vous sûr de vouloir supprimer cette adresse ?</div>
    <div class='flex gap-4 mt-8 flex-col md:flex-row'>
      {% include '@components/Molecules/Button/Button.html.twig' with {
        text: 'Cancel'| trans,
        variant: 'secondary',
        fill: true,
        classes: 'close-button'
        }
      %}
      {% include '@components/Molecules/Button/Button.html.twig' with {
        text: 'Yes'| trans,
        fill: true,
        }
      %}
    </div>
  {% endset %}

  {% include '@components/Molecules/Modal/Modal.html.twig' with {
    name: 'confirmDeleteAdresse',
    content: customContent
    }
  %}
{% endblock %}
