{%  extends 'base.html.twig' %}

{% block title %}index{% endblock %}

{% block body %}
  {% set products = resources('/api/front/products', {'productCategories.category.id':1, itemsPerPage:3}) %}
  {% set categories = resources('/api/front/categories', {itemsPerPage:3}) %}
  {% set categoriesFiltered = categories|map((c) => ({
    title: c.i18ns.title,
    button: {label: 'Je découvre', href: ''},
    img: {url: '/legacy-image-library/category_image_'~c.id~'/full/%5E*!386,280/0/default.webp', alt: c.i18ns.title}
  })) %}

  {% set productFiltered = products|map((p) => ({
    displayWishButton: true,
    productTitle: p.i18ns.title,
    secondaryTitle: p.i18ns.chapo ?? null,
    price: p.productSaleElements|filter(pse => pse.isDefault)|first.productPrices|first.price ~ '€',
    promoPrice: p.productSaleElements|filter(pse => pse.isDefault)|first.productPrices|first.promoPrice ~ '€',
    isPromo: p.productSaleElements|filter(pse => pse.isDefault)|first.promo,
    isNew: p.productSaleElements|filter(pse => pse.isDefault)|first.newness,
    img: {url: '/legacy-image-library/product_image_'~p.id~'/full/%5E*!386,280/0/default.webp', alt: p.i18ns.title}
  })) %}

{% set blocks = [
  {
    "image": asset("dist/images/placeholder.webp"),
    alt: "Image desc",
    "title": "Ici une phrase d’accroche pour accompagner le visuel",
    "href": "#",
    "linkLabel": "Je découvre"
  },
  {
    "image": asset("dist/images/placeholder.webp"),
    alt: "Image desc",
    "title": "Ici une phrase d’accroche pour accompagner le visuel",
    "href": "#",
    "linkLabel": "Je découvre"
  },
  {
    "image": asset("dist/images/placeholder.webp"),
    alt: "Image desc",
    "title": "Ici une phrase d’accroche pour accompagner le visuel",
    "href": "#",
    "linkLabel": "Je découvre"
  }
] %}

    {% include '@components/Layout/Hero/Hero.twig' with { blocks: blocks } %}

  {% include '@components/Layout/CrossSelling/CrossSelling.twig' with {title: 'Derniers produits consultés', products:productFiltered}  %}


  <div class="bg-theme-lighter">
    {% include '@components/Layout/CrossSelling/CrossSelling.twig' with {title: 'Produits populaires', products:productFiltered}  %}
  </div>
  <div class="bg-theme-lightest">
    {% include '@components/Layout/CrossSelling/CrossSelling.twig' with {title: 'Promotions', products:productFiltered}  %}
  </div>

  {% include '@components/Layout/ProductCategory/ProductCategory.twig' with {title: 'Nos catégories de produits', categories:categoriesFiltered}  %}

  {% set reviews = [4,2,3]|map((note) => ({
    author: 'Prénom N.',
    review:"“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”",
    note:note,
    date: 'JJ/MM/AAAA'
  })) %}

  <div class="bg-theme-lightest">
    {% include '@components/Layout/Review/Review.twig' with {title: 'Nos clients parlent de nous', reviews:reviews, button:{label:"Voir tous les avis", href:"#"}}  %}
  </div>

  {% set news = resources('/api/front/contents', {itemsPerPage:3}) %}

  {% set newsFiltered = news|map((n) => ({
    title: n.i18ns.title,
    date: n.createdAt|date("d/m/Y"),
    url: '#',
    img:{url: '/images/placeholder.webp', alt:n.i18ns.title}
    }))
  %}
  <div class="bg-theme-lighter">
    {% include '@components/Layout/SimilarContent/SimilarContent.twig' with {title: 'Nos actualités', similarContents:newsFiltered, button:{label:"Voir toutes les actualités", href:"#"}}  %}
  </div>
{% endblock %}

{#<div class="font-bold sm:w-7/12">{format_money number={$TOTAL_TAXED_AMOUNT} currency_id=$CURRENCY}</div>#}
