{%  extends 'base.html.twig' %}

{% block title %}index{% endblock %}

{% block body %}

  <div data-controller="hello"></div>

  <twig:Alert message="I am a success alert!" />
  <twig:Flexy:Message message="I am a message" />
  <div id="test">
    <twig:Flexy:RandomNumber />
  </div>

  <div {{ react_component('Hello', { fullName: 'React' }) }}>
      Loading...
  </div>


  <twig:ux:icon name="account" class="w-4 h-4" />


{% endblock %}

{#<div class="font-bold sm:w-7/12">{{ format_money(number={$TOTAL_TAXED_AMOUNT}, currency_id=$CURRENCY) }}</div>#}
