{% extends 'base.html.twig' %}

{% block title %}Login
{% endblock %}

{% block body %}
	<div class="max-w-[400px] px-[25px] pt-[30px] pb-[54px] lg:px-0 lg:pt-[50px] lg:pb-[120px] mx-auto">
		<form>
			<h2 class="mb-4 h2">Se connecter</h2>

			<div class="flex flex-col gap-6 mb-3">
				{% include "@components/Molecules/Fields/FieldInput/FieldInput.twig" with {
          label: 'Email',
          name: 'email',
          type: 'email',
          placeholder: 'Votre email',
          required: true,
        } %}

				{% include "@components/Molecules/Fields/FieldInput/FieldInput.twig" with {
          label: 'Mot de passe',
          name: 'password',
          type: 'password',
          placeholder: 'Votre mot de passe',
          required: true,
        } %}
			</div>

			<div class="flex flex-col gap-[30px]">
				{% include "@components/Molecules/Link/Link.twig" with {
          customText: 'Mot de passe oublié ?',
          href: '#'
        } %}

				{% include "@components/Molecules/Button/Button.twig" with { text: 'Je me connecte', classes: "w-max" } %}
			</div>

			<hr class="my-[40px]"/>

			<h4 class="mb-4 h4">Pas encore de compte ?</h4>

			{% include "@components/Molecules/Button/Button.twig" with { text: "Je m'inscris", variant: "secondary" } %}
		</form>
	</div>
{% endblock %}
