{%  extends 'base.html.twig' %}

{% block title %}Wishlist
{% endblock %}

{% block body %}
	{% set products = [
    {
      title: "Product 1",
      price: "120.00 €",
      image: "https://via.placeholder.com/150",
      link: "#"
    },
    {
      title: "Product 2",
      price: "120.00 €",
      image: "https://via.placeholder.com/150",
      link: "#"
    },
    {
      title: "Product 3",
      price: "120.00 €",
      image: "https://via.placeholder.com/150",
      link: "#"
    }
  ] %}

	<div class="mt-[80px] mb-[120px] max-w-[540px] mx-auto px-6">
		<h1 class="mb-6 h1">Wishlist</h1>

		<div class="flex flex-col w-full gap-4">
			{% for product in products %}
				{% include '@components/Organisms/ProductCard/PurchaseFunnel.html.twig' with product %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
