.FieldNumber {
  display: flex;
  flex-direction: column;
  gap: rem-convert(4px);

  &-input {
    @apply paragraph-4;
    border: 1px solid var(--theme-medium);
    border-radius: 8px;
    color: var(--black);
    padding: rem-convert(16px) rem-convert(10px);
    transition: 0.2s ease all;
    width: rem-convert(48px);
    text-align: center;

    &:hover {
      background-color: var(--theme-lightest);
    }

    &:focus-visible{
      outline-offset: 2px;
      outline: 1px solid var(--theme);
    }

    &--filled {
      border-color: var(--theme);
    }
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    appearance: none;
  }

  &--error {
    .FieldNumber-input {
      border: 1px solid var(--error-light);
      color: var(--error);

      &:hover {
        background-color: var(--error-lightest);
      }

      &:focus-visible{
        outline: 1px solid var(--error-dark);
      }
    }

    ::placeholder {
      color: var(--error);
    }
  }

  &-error {
    @apply paragraph-5;
    color: var(--error-dark);
    font-style: italic;
  }

  &[disabled] {
    .FieldNumber-input {
      border: 1px solid var(--grey);
      color: var(--grey);
      cursor: not-allowed;
      background-color: var(--grey-lightest);
    }

    ::placeholder {
      color: var(--grey);
    }
  }

  ::placeholder {
    color: var(--grey-dark);
    font-style: italic;
  }
}
