{% set title = title|default('') %}
{% set selected = selected|default('in_progress') %}

<div class='Subheader Subheader--orders'>
	<div class='container flex flex-col items-center mx-auto'>
		<h1 class='Subheader-title'>{{ title }}</h1>
		<div class='flex mt-[30px]'>
			{% include '@components/Molecules/Button/Button.html.twig' with {text: 'In progress'|trans, sharp:true, variant:selected == 'in_progress' ? 'primary' : 'secondary'} %}
			{% include '@components/Molecules/Button/Button.html.twig' with {text: 'History'|trans, sharp:true, variant: selected == 'in_progress' ? 'secondary' : 'primary'} %}
		</div>
	</div>
</div>
