{% set title = title|default('') %}
{% set description = description|default('') %}
{% set nbProducts = nbProducts|default(0) %}

<div class='Subheader Subheader--category'>
  <div class='container mx-auto flex flex-col'>
    <h1 class='Subheader-title'>{{ title }}</h1>
    <div class='Subheader-description'>
      {{ description }}
    </div>
    <div class='Subheader-link underline'>
      <a href='#' class='link-large'>Lire la suite</a>
    </div>
    <div class='Subheader-info Subheader-info--category'>
      <div>{{ nbProducts }} produit(s)</div>
      {% include '@components/Molecules/Button/Button.twig' with {text: 'Filtrer & trier',icon_left:'filter', variant: 'secondary'} %}
    </div>
  </div>
</div>
