
{% for title, line in icons %}
  <div>{{ title }}</div>
  <div class='flex flex-wrap gap-2'>
    {% for icon in line %}
      <div class='{{ size }} {{ color }}'>
        {{ source("/icons/" ~ icon  ~".svg") }}
      </div>
    {% endfor %}
  </div>
{% endfor %}
