.Shortcut {
  padding: 0 rem-convert(16px);
  width: 100%;
  max-width: 340px;
  height: 56px;
  text-align: left;
  font-size: rem-convert(20px);
  line-height: rem-convert(28px);
  font-weight: 400;
  background-color: var(--white);
  border-bottom: 1px solid var(--grey-lighter);
  transition: 0.2s;

  & > span {
    color: var(--black);
  }

  &:hover {
    background-color: var(--grey-lightest);
  }

  &:focus-visible{
    outline: var(--theme-medium) solid 1px;
    border-bottom: 0;
  }

  &.active {
    background: var(--grey-lightest);
    &:hover {
      background-color: var(--grey-lighter);
    }
  }
}
