{% set classes = classes|default('') %}
{% set customText = customText|default('') %}
{% set active = active|default(false) %}

<button class='Shortcut {{ classes }} {% if active %}active{% endif %}'>
  <span>{{ customText }}</span>
</button>
