{% set href = href|default('') %}
{% set classes = classes|default('') %}
{% set customText = customText|default('') %}
{% set subs1 = subs1|default(null) %}
{% set childCount = childCount|default(0) %}

<li class="flex">
	<a href='{{ href }}' class='ItemHeader {{ classes }}'>
		{{ customText }}
	</a>
	{% if subs1 and childCount > 0 %}
    	{% include '@components/Organisms/Navigation/SubMenu/SubMenu.html.twig' with { subs1: subs1 } %}
	{% endif %}
</li>
