.ItemHeader {
  @apply paragraph-2;
  color: var(--black);
  text-decoration: none;
  padding: rem-convert(27px) 0;
  outline: 0;

  &:hover,
  &:focus,
  &:active {
    border-bottom: 2px solid var(--theme-dark);
  }
}
