{% set customText = customText|default('') %}
{% set variant = variant|default('informative') %}
{% set type = type|default('outline') %}
{% set withoutChip = withoutChip|default(false) %}


{% set classes = '' %}
{% set classes = classes ~ ' OrderTag--' ~ variant %}
{% set classes = classes ~ ' OrderTag--' ~ type %}
{% if withoutChip %}{% set classes = classes ~ ' OrderTag--withoutChip' %}{% endif %}

<span class="OrderTag{{ classes }}">{{ customText }}</span>
