{% set classes = '' %}
{% set classes = classes ~ ' OrderTag--' ~ (variant|default('informative')) %}
{% set classes = classes ~ ' OrderTag--' ~ (type|default('outline')) %}

<span class="OrderTag{{ classes }}">{{ customText }}</span>
