{% set classes = '' %}
{% set classes = classes ~ ' Tooltip-text--' ~ (position|default('top')) %}

<div class='Tooltip'>
  <span class='Tooltip-icon'>{{ source("/icons/help.svg") }}</span>
  <span class='Tooltip-text{{ classes }}'>
    <span class='Tooltip-close'>{{ source("/icons/close.svg") }}</span>
    {{ tooltip }}
  </span>
</div>
