{% set position = position|default('top') %}
{% set tooltip = tooltip|default('') %}

{% set classes = '' %}
{% set classes = classes ~ ' Tooltip-text--' ~ position %}

<div class='Tooltip'>
  <span class='Tooltip-icon'>{{ svg("help") }}</span>
  <span class='Tooltip-text{{ classes }}'>
    <span class='Tooltip-close'>{{ svg("close") }}</span>
    {{ tooltip }}
  </span>
</div>
