.SearchBar {
  display: flex;
  align-items: center;
  color: var(--grey);
  border: 1px solid var(--grey-lighter);
  border-radius: rem-convert(50px);
  padding: rem-convert(2px) rem-convert(10px) rem-convert(2px) rem-convert(6px);

  button {
    margin-right: rem-convert(10px);
    color: var(--black);
  }
  &,
  input {
    background: var(--grey-lightest);
  }
  input {
    flex-grow: 1;
    @apply paragraph-2;
    color: var(--black);
    &:focus-visible{
      outline: none;
    }
    &::placeholder {
      font-style: italic;
      color: var(--grey);
    }
  }

  &:focus-within {
    border: 2px solid var(--theme);
  }
  &:hover {
    &,
    input {
      background: var(--white);
    }
  }

  &--white {
    border: 1px solid var(--theme-medium);
    &,
    input {
      background: var(--white);
    }
    &:hover {
      &,
      input {
        background: var(--grey-lightest);
        border-color: var(--theme-medium);
      }
    }
    &:focus-within {
      border-width: 2px;
    }
  }
  @screen md {
    padding: rem-convert(6px) rem-convert(10px) rem-convert(6px)
      rem-convert(6px);
  }
}
