<div class='Subheader Subheader--contentPage'>
  <div class='Subheader-image'>
    <img src='{{ img.src }}' alt='{{ img.alt }}'  loading="lazy" />
  </div>
  <div class='container mx-auto flex flex-col grow justify-center'>
    <h1 class='Subheader-title'>{{ title }}</h1>
    <div class='Subheader-description'>
      {{ description }}
    </div>
  </div>
</div>
