{% set choices = choices|default([]) %}
{% set values = values|default([]) %}
{% set title = title|default('') %}
{% set open = false %}


{% if choices|length > 0 %}
	{% set content %}
	<ul class="flex flex-wrap gap-2">
		{% for choice in choices %}
			{% if choice.value in values %}
				{% set open = true %}
			{% endif %}
			<li>
				{% include '@components/Molecules/Filters/FilterPill/FilterPill.html.twig' with {value : choice.value, name: form.vars.full_name, customText: choice.label,closeButton: true, selected: choice.value in values } %}
			</li>
		{% endfor %}
	</ul>
	{% endset %}

	{% include '@components/Molecules/Accordion/Accordion.html.twig' with {
  title,
  variant: 'category',
  content,
} %}
	{% set open = false %}
{% endif %}
