.Checkbox, .Radio {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  gap: 0.5rem;
  --current-checkbox-color: var(--black);
  --current-checkbox-hover: var(--grey-dark);
  --current-checkbox-disabled: var(--grey-lighter);
  &.error {
    --current-checkbox-color: var(--error-light);
    --current-checkbox-hover: var(--error-dark);
  }
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:indeterminate {
      ~ .checkmark {
        &:after {
          content: "";
          position: absolute;
          width: 8px;
          height: 2px;
          left: 3px;
          top: 6px;
          background: var(--current-checkbox-color);
        }
      }
      &:disabled {
        & ~ .checkmark:after {
          background: var(--current-checkbox-disabled);
        }
      }
    }
    &:focus {
      & ~ .checkmark {
        outline: var(--checkbox-focus) solid 1px;
        outline-offset: 1px;
      }
    }
  }
  .checkmark {
    width: 16px;
    height: 16px;
    border: 1px solid var(--current-checkbox-color);
    border-radius: 2px;
    position: relative;
    span {
      display: none;
    }
  }
  input:disabled  ~ .checkmark {
    border: 1px solid var(--current-checkbox-disabled);
  }

  &:hover input:not(:disabled) {
    & ~ .checkmark {
      border: 1px solid var(--current-checkbox-hover);
    }
    &:indeterminate ~ .checkmark {
      background-color: var(--grey-lightest);
      &:after {
        background: var(--current-checkbox-hover);
      }
    }
  }
}

.Checkbox {
  input {
    &:checked {
      & ~ .checkmark {
        background-color: var(--current-checkbox-color);
        span {
          display: block;
        }
      }
      &:disabled {
        & ~ .checkmark {
          background-color: var(--current-checkbox-disabled);
        }
      }
    }
  }
  &:hover input:not(:disabled) {
    &:checked ~ .checkmark {
      background-color: var(--current-checkbox-hover);
    }
  }
}

.Radio {
  .checkmark {
    border-radius: 555rem;
    width: 14px;
    height: 14px;
  }
  input {
    &:checked {
      & ~ .checkmark:after {
        content: "";
        position: absolute;
        border-radius: 555rem;
        top:2px;
        bottom:2px;
        left:2px;
        right:2px;
        background-color: var(--current-checkbox-color);
      }
    }
    &:disabled {
      & ~ .checkmark:after {
        background: var(--current-checkbox-disabled);
      }
    }
  }
}
