<footer class='flex flex-col px-6 xl:px-[120px] py-6 xl:flex-row xl:justify-between FooterCheckout bg-theme-lightest gap-9 sm:gap-3'>
  <div class='flex flex-col gap-2 sm:gap-6 sm:flex-row'>
    <div class='paragraph-5'><a href='#'>Plan du site</a></div>
    <div class='paragraph-5'><a href='#'>Mentions légales</a></div>
    <div class='paragraph-5'><a href='#'>Données personnelles</a></div>
    <div class='paragraph-5'><a href='#'>Cookies</a></div>
    <div class='paragraph-5'><a href='#'>Conditions générales de vente</a></div>
  </div>
  
  <div class='paragraph-5'>© OpenStudio - 2024</div>
  </div
</footer>
