<div class='HeaderNav'>
	{% include '@components/Molecules/HeaderButton/HeaderButton.html.twig' with { icon: 'search', classes: 'HeaderNav-btn HeaderButton--light', text: 'Search'|trans, small: true } %}
	{% include '@components/Molecules/HeaderButton/HeaderButton.html.twig' with { icon: 'heart-fill', classes: 'HeaderNav-btn HeaderButton--light', text: 'Wishlist'|trans, small: true } %}
	{% include '@components/Molecules/HeaderButton/HeaderButton.html.twig' with { icon: 'account', classes: 'HeaderNav-btn HeaderButton--theme', text: 'Account'|trans, small: true } %}
	{% include '@components/Molecules/HeaderButton/HeaderButton.html.twig' with { icon: 'cart', text: 'Cart'|trans, classes: 'HeaderNav-btn HeaderButton--dark ', small: true} %}
	{% include '@components/Molecules/HeaderButton/HeaderButton.html.twig' with { icon: 'menu', id: "toggleMenu", classes: 'HeaderNav-btn HeaderButton--light lg:hidden', text: 'Menu'|trans, small: true } %}
</div></header>
