<div class='HeaderNav'>
	{% include '@components/Molecules/HeaderButton/HeaderButton.twig' with { icon: 'search', classes: 'HeaderNav-btn HeaderButton--light', text: 'Recherche', small: true } %}
	{% include '@components/Molecules/HeaderButton/HeaderButton.twig' with { icon: 'heart-fill', classes: 'HeaderNav-btn HeaderButton--light', text: 'Wishlist', small: true } %}
	{% include '@components/Molecules/HeaderButton/HeaderButton.twig' with { icon: 'account', classes: 'HeaderNav-btn HeaderButton--theme', text: 'Compte', small: true } %}
	{% include '@components/Molecules/HeaderButton/HeaderButton.twig' with { icon: 'cart', text: 'Panier', classes: 'HeaderNav-btn HeaderButton--dark ', small: true} %}
	{% include '@components/Molecules/HeaderButton/HeaderButton.twig' with { icon: 'menu', id: "toggleMenu", classes: 'HeaderNav-btn HeaderButton--light lg:hidden', text: 'Menu', small: true } %}
</div></header>
