.Subheader {
  background: var(--theme-lighter);
  display: flex;
  align-items: center;
  &-titleOnly {
    min-height: rem-convert(340px);
    padding: rem-convert(24px 0);
    @screen md {
      min-height: rem-convert(250px);
      padding: rem-convert(32px 0);
    }
  }
  &--orders {
    min-height: rem-convert(256px);
    padding: rem-convert(24px 0);
    @screen md {
      min-height: rem-convert(282px);
      padding: rem-convert(32px 0);
    }
    @screen lg {
      min-height: rem-convert(284px);
      padding: rem-convert(32px 0);
    }
  }
  &--search {
    min-height: rem-convert(316px);
    padding: rem-convert(24px);
    @screen md {
      min-height: rem-convert(344px);
      padding: rem-convert(24px 50px);
    }
    @screen lg {
      min-height: rem-convert(282px);
    }
  }
  &--category {
    min-height: rem-convert(336px);
    padding: rem-convert(24px);
    @screen md {
      min-height: rem-convert(344px);
      padding: rem-convert(24px 48px);
    }
    @screen lg {
      min-height: rem-convert(284px);
    }
  }
  &--contentPage {
    flex-direction: column;
    min-height: rem-convert(664px);

    .container {
      padding: rem-convert(24px);

      @screen sm {
        padding: rem-convert(24px) 0;
      }
    }

    @screen md {
      flex-direction: row-reverse;
      min-height: rem-convert(350px);
      align-items: stretch;
      .container {
        padding: rem-convert(24px 48px);
      }
    }
  }

  &-image {
    width: 100%;
    max-height: 390px;
    overflow: hidden;
    img {
      width: 100%;
    }
    @screen md {
      flex-shrink: 0;
      max-width: 264px;
      height: auto;
      display: flex;
      justify-content: end;
      img {
        width: initial;
        max-width: initial;
        height: 100%;
        object-fit: contain;
      }
    }
    @screen lg {
      max-width: 360px;
    }
    @screen xl {
      max-width: 664px;
    }
  }
  
  &--centered {
    text-align: center;
  }
  &-title {
    @apply h1;
    color: var(--black);
  }

  &-title--search {
    padding-bottom: rem-convert(16px);
  }
  &-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: rem-convert(32px);
    @apply paragraph-5;
    @screen md {
      padding-top: rem-convert(29px);
    }
    @screen lg {
      display: none;
    }
    &--category {
      padding-top: rem-convert(16px);
      @screen md {
        padding-top: rem-convert(16px);
      }
    }
  }
  &-description {
    @apply paragraph-4;
    padding-top: rem-convert(16px);
    padding-bottom: rem-convert(16px);
    color: var(--black);
  }
  &-link {
    color: var(--black);
  }
}
