.Subheader {
  background: var(--theme-lighter);
  display: flex;
  align-items: center;
  &-titleOnly {
    min-height: rem-convert(340px);
    padding: rem-convert(24px 0);
    @screen md {
      min-height: rem-convert(250px);
      padding: rem-convert(32px 0);
    }
  }
  &-orders {
    min-height: rem-convert(256px);
    padding: rem-convert(24px 0);
    @screen md {
      min-height: rem-convert(282px);
      padding: rem-convert(32px 0);
    }
    @screen lg {
      min-height: rem-convert(282px);
      padding: rem-convert(32px 0);
    }
  }
  &-centered {
    text-align: center;
    @screen lg {
      text-align: left;
    }
  }
  &-title {
    @apply h1;
  }
}
