<div class="FilterList" tabindex="1">
  <input class="FilterList-input" type="checkbox" id="{{ value }}" value="{{ value }}">
  <label class="FilterList-label" for="{{ value }}">{{ label }}</label>
</div>
