{% set value = value|default('') %}
{% set label = label|default('') %}
{% set onClick = onClick|default(null) %}

<div class="FilterList" tabindex="1">
  <input class="FilterList-input" type="checkbox" id="{{ value }}" value="{{ value }}" {% if onClick %}onclick=onClick{% endif %}>
  <label class="FilterList-label" for="{{ value }}">{{ label }}</label>
</div>
