.OrderCard {
  max-width: rem-convert(616px);
  background: var(--theme-lightest);
  padding-top: rem-convert(40px);
  padding-bottom: rem-convert(45px);
  padding-left: rem-convert(23px);
  padding-right: rem-convert(25px);

  &-title {
    color: var(--black);
    @apply h5;
  }
  &-date {
    color: var(--grey);
    @apply paragraph-3;
  }
  &-delivery {
    color: var(--grey-dark);
    font-family: 'Roboto', serif;
    font-size: var(--font-size-xs);
    font-weight: 400;
    line-height: rem-convert(20px);
  }

  &-images {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--white);
    border-radius: rem-convert(4px);
    padding: rem-convert(4px);
    gap: rem-convert(4px);
    box-shadow: 0 0 8px 0 rgba(84, 84, 84, 0.15);
    counter-reset:nbOrderImages;
  }
  &-image {
    width: rem-convert(72px);
    height: rem-convert(72px);

    &:nth-child(6) ~ .OrderCard-image  {
      counter-increment:nbOrderImages;
      position: absolute;
      max-height: 0;
      max-width: 0;
      overflow: hidden;
      opacity: 0;
    }

    @screen '2xl' {
      &:not(:nth-child(n+7)):nth-last-child(2) ~ .OrderCard-nbImages {
        display: none;
      }
    }

    @screen maxSm {
      &:nth-child(2) ~ .OrderCard-image  {
        counter-increment:nbOrderImages;
        position: absolute;
        max-height: 0;
        max-width: 0;
        overflow: hidden;
        opacity: 0;
      }
      &:not(:nth-child(n+3)):nth-last-child(2) ~ .OrderCard-nbImages {
        display: none;
      }
    }
    @screen maxXs {
      &:nth-child(3) ~ .OrderCard-image  {
        counter-increment:nbOrderImages;
        position: absolute;
        max-height: 0;
        max-width: 0;
        overflow: hidden;
        opacity: 0;
      }
      &:not(:nth-child(n+4)):nth-last-child(2) ~ .OrderCard-nbImages {
        display: none;
      }
    }
    @screen 'max2xl' {
      &:nth-child(4) ~ .OrderCard-image  {
        counter-increment:nbOrderImages;
        position: absolute;
        max-height: 0;
        max-width: 0;
        overflow: hidden;
        opacity: 0;
      }
      &:not(:nth-child(n+5)):nth-last-child(2) ~ .OrderCard-nbImages {
        display: none;
      }
    }
  }
  &-nbImages {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      content: '+' counter(nbOrderImages);
    }
  }
}
