.Product {
   &-imageContainer {
     width: 594px;
     img {
       width: 100%;
     }
   }

  &Gallery-item {
    border: 1px solid transparent;
    &.is-active {
      border: 1px solid var(--theme-dark);
    }
  }
}
