{% set variant = variant|default('vermillon') %}
{% set href = href|default('') %}
{% set customText = customText|default('') %}
{% set icon = icon|default(null) %}

{% set classes = '' %}
{% set classes = classes ~ ' UserMenu--' ~ variant %}
{% if icon %}
   {% set classes = classes ~ ' UserMenu--withIcon' %}
{% endif %}

<a href="{{ href }}" class='UserMenu {{ classes }}'>
  {{ customText }}
  {% if icon %}
    <span class='UserMenu-icon'>{{ ux_icon("chevron-right") }}</span>
  {% endif %}
</a>
