.HeaderButton {
  --header-button-bg: var(--theme-light);
  --header-button-color: var(--black);
  --header-button-bg-hover: var(--theme-medium);

  background: var(--header-button-bg);
  color: var(--header-button-color);

  display: flex;
  align-items: center;
  height: 100%;
  padding-left: rem-convert(20px);
  padding-right: rem-convert(20px);
  @apply typo-button-large;

  & > div {
    display: flex;
    gap: rem-convert(6px);
  }

  &--small {
    padding-right: rem-convert(20px);
  }

  &--mobile {
    padding: 0;
    flex: 1 1 0px;
    justify-content: center;
    padding-top: rem-convert(8px);
    padding-bottom: rem-convert(8px);
    @apply typo-button-small;
    & > div {
      flex-direction: column;
      align-items: center;
      gap: 0;
    }
  }

  &:hover {
    --header-button-bg: var(--header-button-bg-hover);
  }

  &:focus-visible{
    outline: none;
    box-shadow: 0 0 0 1px var(--theme) inset;
  }

  &-icon {
    width: rem-convert(24px);
    height: rem-convert(24px);
    padding-top: rem-convert(4px);
    padding-bottom: rem-convert(4px);
  }

  &-sub {
    @apply paragraph-6;
    font-weight: 400;
  }

  &--inactive {
    --header-button-bg: var(--theme-light);

    &:hover {
      --header-button-bg: var(--theme-medium);
    }
  }

  &--dark {
    --header-button-bg: var(--black);
    --header-button-color: var(--white);

    &:hover {
      --header-button-bg: var(--grey-darker);
    }
  }

  &--light {
    --header-button-bg: var(--white);
    --header-button-color: var(--black);

    &:hover {
      --header-button-bg: var(--grey-lightest);
    }
  }
}
