<div class='block h-[80px] flex'>
  {% include '@components/Molecules/HeaderButton/HeaderButton.html.twig' with {icon: 'heart-fill', classes: 'HeaderButton--light', text: 'Wishlist',small:small } %}
  {% include '@components/Molecules/HeaderButton/HeaderButton.html.twig' with {icon: 'account',inactive: inactive, text: 'Connexion',small:small } %}
  {% include '@components/Molecules/HeaderButton/HeaderButton.html.twig' with {icon: 'account-logged',inactive: inactive, text: 'Prénom N.',small:small } %}
  {% include '@components/Molecules/HeaderButton/HeaderButton.html.twig' with {icon: 'cart', classes: 'HeaderButton--dark', text: 'Panier' ,small:small} %}
  {% include '@components/Molecules/HeaderButton/HeaderButton.html.twig' with {icon: 'cart-badge', classes: 'HeaderButton--dark', text: 'Panier', subText:'(2 000,00€)',small:small } %}
</div>

<div class='block h-[62px] w-[390px] flex'>
  {% include '@components/Molecules/HeaderButton/HeaderButton.html.twig' with {icon: 'menu',inactive: inactive, text: 'Menu',mobile:true } %}
  {% include '@components/Molecules/HeaderButton/HeaderButton.html.twig' with {icon: 'heart-fill', classes: 'HeaderButton--light', text: 'Wishlist',mobile:true } %}
  {% include '@components/Molecules/HeaderButton/HeaderButton.html.twig' with {icon: 'search', classes: 'HeaderButton--light', text: 'Recherche',mobile:true } %}
  {% include '@components/Molecules/HeaderButton/HeaderButton.html.twig' with {icon: 'account', classes: 'HeaderButton--light', text: 'Compte',mobile:true } %}
  {% include '@components/Molecules/HeaderButton/HeaderButton.html.twig' with {icon: 'cart', classes: 'HeaderButton--dark', text: 'Panier' ,mobile:true} %}
</div>
