<button class='HeaderButton {% if inactive %}HeaderButton--inactive{% endif %} {{ classes }} {% if small %}HeaderButton--small{% endif %}'>
  <div>
    {% if icon %}
      <span class='HeaderButton-icon'>{{ source("/icons/" ~ icon ~ ".svg") }}</span>
    {% endif %}
    {% if not small %}
    <div class='flex flex-col items-start'>
      <span>{{ text }}</span>
      {% if subText %}
        <span class='HeaderButton-sub'>{{ subText }}</span>
      {% endif %}
    </div>
    {% endif %}
  </div>
</button>
