{% set selected = selected|default(false) %}
{% set title = title|default('') %}
{% set date = date|default('') %}
{% set price = price|default('') %}
{% set noAddress = noAddress|default(false) %}
{% set address = address|default({
  title: "",
  name: "",
  address1: "",
  zipCode: '',
  city: '',
  country: '',
  phone: '',
}) %}

<div class='HomeDelivery {% if selected %}selected{% endif %}'>
  <label class='HomeDelivery-content'>
    {% include '../../../Atoms/Form/Radio.twig' with {type:"span", name:"HomeDelivery", value:1, checked:selected} %}

    <span>
        <div class='flex justify-between'>
          <div>
            <span class='HomeDelivery-title'>{{ title }}</span>
            <span class='HomeDelivery-description'>Livraison estimée le {{ date }}</span>
          </div>
          <div class="w-12 h-12 text-theme-medium">
          {{ svg("reinsurance-homedelivery") }}
          </div>
        </div>
        <div class='flex items-center justify-between mt-6'>
          <span class='HomeDelivery-price'>{{ price }}</span>
          {% include '../../../Molecules/Tag/Tag.twig' with { icon: "carbone", customText: "0.80kg CO2" } %}
        </div>
    </span>
  </label>
  {% if selected %}
  <div class='HomeDelivery-bottom bg-theme-lightest'>
    {% if noAddress %}
      <div class="flex flex-col">
        <span class="HomeDelivery-noAddress">
          Vous n'avez pas d'adresse enregistrée
        </span>

        {% include '../../../Molecules/Button/Button.twig' with {text: 'Ajouter une adresse', classes:'Button--fill mt-4'} %}
      </div>
    {% else %}
      <div>
        <div class='flex flex-col gap-2'>
          {% include '../../Card/Address/AddressCard.twig' with { address: address } %}
          {% include '../../Card/Address/AddressCard.twig' with { address: address, selected: false } %}
        </div>

        <div class='my-4'>
          {% include '../../../Atoms/Form/Checkbox.twig' with { label: "Utiliser cette adresse pour la facturation" } %}
        </div>

        <div class='flex flex-col gap-2 mt-4 lg:flex-row lg:items-center'>
          {% include '../../../Molecules/Button/Button.twig' with {text: 'Choisir cette adresse', classes:'Button--fill lg:w-1/2'} %}
          {% include '../../../Molecules/Button/Button.twig' with {text: 'Utiliser une autre adresse', classes:'Button--secondary lg:w-1/2'} %}
        </div>
      </div>
    {% endif %}
  </div>
  {% endif %}
</div>
