{% set title = title|default('') %}
{% set nbProducts = nbProducts|default(0) %}

<div class='Subheader Subheader--search'>
  <div class='max-w-[600px] w-full flex flex-col mx-auto'>
    <h1 class='Subheader-title Subheader-title--search'>{{ title }}</h1>
    <div>
      {% include '@components/Molecules/SearchBar/SearchBar.html.twig' with { label: "Find a delivery address"|trans, classes: 'SearchBar--white ',placeholder: "e.g. City, Postcode"|trans,iconButtonLeft:true, iconButton: "search" } %}
    </div>
    <div class='Subheader-info'>
      <div>{{ nbProducts}} {{ 'product(s)'|trans }}</div>
      {% include '@components/Molecules/Button/Button.html.twig' with {text: 'Filter & Sort'|trans,icon_left:'filter', variant: 'secondary'} %}
    </div>
  </div>
</div>
