.PasswordControls {
  display: none;
  @apply paragraph-5;
  color: var(--grey-dark);

  & > ul {
    margin-top: 3px;
    li {
      &:before {
        content: '';
        display: inline-block;
        width: rem-convert(7px);
        height: rem-convert(7px);
        border-radius: 100%;
        margin-right: rem-convert(6px);
        border: 1px solid var(--grey-dark);
      }

      &.valid {
        &:before {
          border-color: var(--success-dark);
          background-color: var(--success-dark);
        }
      }
    }
  }
}
