<div class="PasswordControls">
  Votre mot de passe doit contenir :
  <ul>
      <li id="length">au moins 8 caractères</li>
      <li id="uppercase">au moins 1 lettre majuscule</li>
      <li id="lowercase">au moins 1 lettre minuscule</li>
      <li id="number">au moins 1 chiffre</li>
      <li id="special">au moins 1 caractère spécial (ex. : #, @, !...)</li>
  </ul>
</div>

