{%  extends 'base.html.twig' %}

{% block title %}Account address
{% endblock %}

{% block body %}
	{% set addresses = [
    {
      title: "Adresse principale",
      name: "John Doe",
      address1: "12 rue de la paix",
      address2: "",
      zipCode: "75000",
      city: "Paris",
      country: "France",
      phone: "0123456789",
    },
    {
      title: "Adresse principale",
      name: "John Doe",
      address1: "12 rue de la paix",
      address2: "",
      zipCode: "75000",
      city: "Paris",
      country: "France",
      phone: "0123456789",
    },
    {
      title: "Adresse principale",
      name: "John Doe",
      address1: "12 rue de la paix",
      address2: "",
      zipCode: "75000",
      city: "Paris",
      country: "France",
      phone: "0123456789",
    }
  ] %}

	{% include '@components/Layout/Subheader/TitleOnly/SubheaderTitle.twig' with {title: "Mes adresses de livraison", position: "centered" }  %}

	<div class="flex flex-col items-center justify-center mt-6 md:mt-11 mb-[80px] md:mb-[120px] px-6">
		<div class="grid w-full max-w-screen-xl grid-cols-1 gap-6 mx-auto md:grid-cols-2">
			{% for address in addresses %}
				{% include '@components/Organisms/Card/Address/AddressCard.twig' with {
          address: address
        } %}
			{% endfor %}
		</div>

		{% include '@components/Molecules/Button/Button.twig' with {
      text: "Ajouter une adresse",
      classes: "mt-8 w-[340px]",
    } %}

	</div>
{% endblock %}
