{%  extends 'base.html.twig' %}

{% block title %}Account orders
{% endblock %}

{% block body %}
	{% set orders = [
    {
      orderNumber: "123456",
      date: "12/12/2021",
      nbItems: 2,
      price: "120.00 €",
      deliveryDate: "12/12/2021",
      productImages: [
        {
          src: "https://via.placeholder.com/150",
          alt: "product"
        },
        {
          src: "https://via.placeholder.com/150",
          alt: "product"
        }
      ]
    },
    {
      orderNumber: "123456",
      date: "12/12/2021",
      nbItems: 2,
      price: "120.00 €",
      deliveryDate: "12/12/2021",
      productImages: [
        {
          src: "https://via.placeholder.com/150",
          alt: "product"
        },
        {
          src: "https://via.placeholder.com/150",
          alt: "product"
        }
      ]
    },
    {
      orderNumber: "123456",
      date: "12/12/2021",
      nbItems: 2,
      price: "120.00 €",
      deliveryDate: "12/12/2021",
      productImages: [
        {
          src: "https://via.placeholder.com/150",
          alt: "product"
        },
        {
          src: "https://via.placeholder.com/150",
          alt: "product"
        }
      ]
    }
  ] %}

	{% include '@components/Layout/Subheader/Orders/SubheaderOrders.twig' with {title: "Mes commandes"}  %}

	<div class="grid max-w-screen-xl grid-cols-1 gap-6 mx-auto md:grid-cols-2 mt-2 md:mt-11 mb-[80px] md:mb-[120px] [&>.OrderCard]:max-w-full">
		{% for order in orders %}
			{% include '@components/Organisms/Card/Order/OrderCard.twig' with order %}
		{% endfor %}
	</div>
{% endblock %}
