@import 'variables.css';
@import "../assets/css/*.css";
@import url('./**/*.css');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,400;0,500;1,400;1,500&display=swap');


body {
  font-family: 'Poppins', 'Roboto', serif;
  color: var(--grey-dark);
}

svg {
  width: 100%;
  height: 100%;
}

.bottom-card-buttons {
  display: flex;
  width: 100%;
  button {
    color: var(--black);
    padding: rem-convert(16px);
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    gap: 6px;
    @apply typo-button-small;
    span {
      width: rem-convert(14px);
      height: rem-convert(14px);
    }
    border-top: 1px solid var(--grey-lighter);
    border-right: 1px solid var(--grey-lighter);
    &:last-child {
      border-right: none;
    }
  }
}
