:root {
  --theme-dark: #ff4822;
  --theme: #ff7036;
  --theme-medium: #ffb698;
  --theme-light: #ffe5db;
  --theme-lighter: #ffede5;
  --theme-lightest: #fff5f1;

  --black: #282828;
  --white: #ffffff;

  --grey-darker: #424242;
  --grey-dark: #545454;
  --grey: #767676;
  --grey-lighter: #d6d6d6;
  --grey-lightest: #f5f5f5;

  --error-dark: #b70101;
  --error: #d00000;
  --error-light: #eb0000;
  --error-lightest: #ffe1e1;

  --success-dark: #08a65a;
  --success: #37e17b;
  --success-lightest: #f8fffb;

  --warning: #ffa800;
  --warning-lightest: #fff9ee;

  --validated: #40cab1;
  --validated-lightest: #eefffc;

  --informative: #40b1ca;
  --informative-lightest: #e9fbff;

  --processing: #a504b3;
  --processing-lightest: #fceefd;

  --checkbox-focus: #dc2626;

  --font-weight-h1: 800;
  --font-weight-h2: 700;
  --font-weight-h3: 700;
  --font-weight-h4: 700;
  --font-weight-h5: 600;
  --font-weight-h6: 400;

  --font-size-2xs: rem-convert(12px);
  --font-size-xs: rem-convert(14px);
  --font-size-sm: rem-convert(16px);
  --font-size-base: rem-convert(18px);
  --font-size-lg: rem-convert(20px);
  --font-size-xl: rem-convert(24px);
  --font-size-2xl: rem-convert(32px);
  --font-size-3xl: rem-convert(36px);
  --font-size-4xl: rem-convert(38px);

  --font-size-h1-d: var(--font-size-4xl);
  --font-size-h1-m: rem-convert(28px);
  --font-size-h2-d: var(--font-size-3xl);
  --font-size-h2-m: rem-convert(26px);
  --font-size-h3-d: var(--font-size-2xl);
  --font-size-h3-m: rem-convert(22px);
  --font-size-h4-d: var(--font-size-xl);
  --font-size-h4-m: var(--font-size-lg);
  --font-size-h5-d: var(--font-size-lg);
  --font-size-h5-m: var(--font-size-base);
  --font-size-h6-d: var(--font-size-lg);
  --font-size-h6-m: var(--font-size-base);

  --line-height-h1-d: rem-convert(57px);
  --line-height-h1-m: rem-convert(42px);
  --line-height-h2-d: rem-convert(54px);
  --line-height-h2-m: rem-convert(39px);
  --line-height-h3-d: rem-convert(48px);
  --line-height-h3-m: rem-convert(33px);
  --line-height-h4-d: rem-convert(30px);
  --line-height-h4-m: rem-convert(32px);
  --line-height-h5-d: rem-convert(28px);
  --line-height-h5-m: rem-convert(26px);
  --line-height-h6-d: rem-convert(28px);
  --line-height-h6-m: rem-convert(26px);

  --font-size-paragraph-1: var(--font-size-base);
  --font-size-paragraph-2: var(--font-size-sm);
  --font-size-paragraph-3: var(--font-size-sm);
  --font-size-paragraph-4: var(--font-size-xs);
  --font-size-paragraph-5: var(--font-size-xs);
  --font-size-paragraph-6: var(--font-size-xs);
  --font-size-paragraph-7: var(--font-size-2xs);

  --line-height-paragraph-1: rem-convert(27px);
  --line-height-paragraph-2: rem-convert(24px);
  --line-height-paragraph-3: rem-convert(24px);
  --line-height-paragraph-4: rem-convert(20px);
  --line-height-paragraph-5: rem-convert(20px);
  --line-height-paragraph-6: rem-convert(16.4px);
  --line-height-paragraph-7: rem-convert(14.4px);

  --font-family-paragraph-1: 'Poppins';
  --font-family-paragraph-2: 'Poppins';
  --font-family-paragraph-3: 'Roboto';
  --font-family-paragraph-4: 'Poppins';
  --font-family-paragraph-5: 'Roboto';
  --font-family-paragraph-6: 'Roboto Condensed';
  --font-family-paragraph-7: 'Roboto Condensed';

  --font-size-button-large: var(--font-size-sm);
  --font-size-button-medium: var(--font-size-xs);
  --font-size-button-small: var(--font-size-2xs);

  --font-weight-button-large: 500;
  --font-weight-button-medium: 500;
  --font-weight-button-small: 400;

  --font-family-button-large: 'Poppins';
  --font-family-button-medium: 'Poppins';
  --font-family-button-small: 'Poppins';

  --font-size-link-large: var(--font-size-sm);
  --font-size-link-medium: var(--font-size-xs);
  --font-size-link-small: var(--font-size-2xs);

  --font-weight-link-large: 500;
  --font-weight-link-medium: 500;
  --font-weight-link-small: 400;

  --font-family-link-large: 'Poppins';
  --font-family-link-medium: 'Poppins';
  --font-family-link-small: 'Poppins';

  --font-family-indication: 'Roboto Condensed';

  --font-size-indication: var(--font-size-xs);
  --font-size-indication-small: var(--font-size-2xs);

  --font-weight-indication: 400;

  --letter-spacing-indication: rem-convert(0.7px);
  --letter-spacing-indication-small: rem-convert(0.6px);

  --header-nav-height: 62px;
}
