:root {
  --theme-dark: #FF4822;
  --theme: #FF7036;
  --theme-medium: #FFB698;
  --theme-light: #FFE5DB;
  --theme-lighter: #FFEDE5;
  --theme-lightest: #FFF5F1;

  --black: #282828;
  --white: #FFFFFF;

  --grey-darker: #424242;
  --grey-dark: #545454;
  --grey: #767676;
  --grey-lighter: #D6D6D6;
  --grey-lightest: #F5F5F5;

  --error-dark: #B70101;
  --error: #D00000;
  --error-light: #EB0000;
  --error-lightest: #FFE1E1;

  --success-dark: #08A65A;
  --success: #37E17B;
  --success-lightest: #F8FFFB;

  --warning: #FFA800;
  --warning-lightest: #FFF9EE;

  --validated: #40CAB1;
  --validated-lightest: #EEFFFC;

  --informative: #40CAB1;
  --informative-lightest: #E9FBFF;

  --processing: #A504B3;
  --processing-lightest: #FCEEFD;

  --checkbox-focus: #dc2626;

  --font-weight-h1: 800;
  --font-weight-h2: 700;
  --font-weight-h3: 700;
  --font-weight-h4: 700;
  --font-weight-h5: 600;
  --font-weight-h6: 400;

  --font-size-h1-d: rem-convert(38px);
  --font-size-h1-m: rem-convert(28px);
  --font-size-h2-d: rem-convert(36px);
  --font-size-h2-m: rem-convert(26px);
  --font-size-h3-d: rem-convert(32px);
  --font-size-h3-m: rem-convert(22px);
  --font-size-h4-d: rem-convert(24px);
  --font-size-h4-m: rem-convert(20px);
  --font-size-h5-d: rem-convert(20px);
  --font-size-h5-m: rem-convert(18px);
  --font-size-h6-d: rem-convert(20px);
  --font-size-h6-m: rem-convert(18px);

  --line-height-h1-d: rem-convert(57px);
  --line-height-h1-m: rem-convert(42px);
  --line-height-h2-d: rem-convert(54px);
  --line-height-h2-m: rem-convert(39px);
  --line-height-h3-d: rem-convert(48px);
  --line-height-h3-m: rem-convert(33px);
  --line-height-h4-d: rem-convert(30px);
  --line-height-h4-m: rem-convert(32px);
  --line-height-h5-d: rem-convert(28px);
  --line-height-h5-m: rem-convert(26px);
  --line-height-h6-d: rem-convert(28px);
  --line-height-h6-m: rem-convert(26px);

  --font-size-paragraph-1: rem-convert(18px);
  --font-size-paragraph-2: rem-convert(16px);
  --font-size-paragraph-3: rem-convert(16px);
  --font-size-paragraph-4: rem-convert(14px);
  --font-size-paragraph-5: rem-convert(14px);
  --font-size-paragraph-6: rem-convert(14px);
  --font-size-paragraph-7: rem-convert(12px);

  --line-height-paragraph-1: rem-convert(27px);
  --line-height-paragraph-2: rem-convert(24px);
  --line-height-paragraph-3: rem-convert(24px);
  --line-height-paragraph-4: rem-convert(20px);
  --line-height-paragraph-5: rem-convert(20px);
  --line-height-paragraph-6: rem-convert(16.4px);
  --line-height-paragraph-7: rem-convert(14.4px);

  --font-family-paragraph-1: 'Poppins';
  --font-family-paragraph-2: 'Poppins';
  --font-family-paragraph-3: 'Roboto';
  --font-family-paragraph-4: 'Poppins';
  --font-family-paragraph-5: 'Roboto';
  --font-family-paragraph-6: 'Roboto Condensed';
  --font-family-paragraph-7: 'Roboto Condensed';

  --font-size-button-large: rem-convert(16px);
  --font-size-button-medium: rem-convert(14px);
  --font-size-button-small: rem-convert(12px);

  --font-weight-button-large: 500;
  --font-weight-button-medium: 500;
  --font-weight-button-small: 400;


  --font-family-button-large: 'Poppins';
  --font-family-button-medium: 'Poppins';
  --font-family-button-small: 'Poppins';

  --font-size-link-large: rem-convert(16px);
  --font-size-link-medium: rem-convert(14px);
  --font-size-link-small: rem-convert(12px);

  --font-weight-link-large: 500;
  --font-weight-link-medium: 500;
  --font-weight-link-small: 400;


  --font-family-link-large: 'Poppins';
  --font-family-link-medium: 'Poppins';
  --font-family-link-small: 'Poppins';

  --font-family-indication: 'Roboto Condensed';

  --font-size-indication: rem-convert(14px);
  --font-size-indication-small: rem-convert(12px);

  --font-weight-indication: 400;

  --letter-spacing-indication: rem-convert(0.7px);
  --letter-spacing-indication-small: rem-convert(0.6px);
}
