.FilterPill {
  font-size: var(--font-size-paragraph-4);
  font-family: var(--font-family-paragraph-4);
  line-height: var(--line-height-paragraph-4);
  padding: rem-convert(8px) rem-convert(10px);
  border-radius: rem-convert(4px);
  display: inline-flex;
  align-items: center;
  color: var(--grey-dark);
  border: 1.5px solid var(--theme-light);

  &--withIcon {
    padding: rem-convert(8px) rem-convert(10px) rem-convert(8px)
      rem-convert(4px);
  }

  &--selected {
    background-color: var(--theme-light);
    border: 1.5px solid var(--theme-medium);
  }

  &-icon {
    width: rem-convert(21px);
    height: rem-convert(21px);
    display: inline-block;
    margin-right: rem-convert(4px);
    color: var(--grey-dark);
  }

  &-iconClose {
    width: rem-convert(21px);
    height: rem-convert(21px);
    display: inline-block;
    margin-left: rem-convert(4px);
  }

  &[disabled] {
    border-color: var(--grey-lighter);
    color: var(--grey-lighter);
    cursor: not-allowed;
    background-color: var(--grey-lightest);

    .FilterPill-icon {
      color: var(--grey-lighter);
    }
  }
}
