{% set title = title|default('') %}
{% set reviews = reviews|default([]) %}
{% set button = button|default({label:"", href:""}) %}

<div class='xl:container xl:mx-auto'>
  <div class='h4 text-black pb-6'>{{ title }}</div>
</div>

<div class='Reviews slider'>
  {% for review in reviews %}
    {% include '../../Organisms/Card/Review/Review.twig' with review %}
  {% endfor %}
</div>

<div class='xl:container xl:mx-auto mt-5'>
  {% include '../../Molecules/Button/Button.twig' with {text: button.label, href: button.href,icon_right:'chevron-right', variant:'secondary'} %}
</div>
