{% set title = title|default('') %}
{% set reviews = reviews|default([]) %}
{% set button = button|default({label:"", href:""}) %}

<div class="px-6 py-20 mx-auto md:px-12 md:pr-0 lg:px-0 lg:container">
	<div class='pb-6 text-black h2'>{{ title }}</div>
	<div class='Reviews slider'>
		{% for review in reviews %}
			{% include '../../Organisms/Card/Review/Review.twig' with review %}
		{% endfor %}
	</div>
	{% include '../../Molecules/Button/Button.twig' with {text: button.label, href: button.href,icon_right:'chevron-right', variant:'secondary', classes: "mt-5"} %}
</div>
