.Reviews {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @screen md {
    flex-direction: row;
    overflow: hidden;
    gap: 1.5rem;

    .Review {
      width: 271px;
      flex-shrink: 0;

      &:last-child {
        margin-right: 3rem;
      }
    }
  }

  @screen lg {
    cursor: initial;

    .Review {
      width: auto;
      flex-shrink: 1;
      &:active {
        cursor: initial;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
