.ProductCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: var(--white);
  transition: none;
  max-width: 187px;
  @apply rounded-md;

  @screen sm {
    max-width: 340px;
  }

  @screen lg {
    max-width: 400px;
  }

  &Search {
    &--horizontal {
      display: flex;
      flex-direction: row;
      max-width: 331px;
      align-items: center;

      .ProductCard-header {
        display: none;
      }

      .ProductCard-mainContent {
        display: flex;
        align-items: center;
      }

      .ProductCard-img {
        height: 97px;
        width: 97px;
      }

      .ProductCard-desc {
        margin-right: auto;
      }
    }
    &--vertical {
      max-width: 185px;

      .ProductCard-img {
        height: 185px;
        width: 100%;
      }
    }

    .ProductCard-title {
      @apply paragraph-2;
    }

    .ProductCard-desc {
      padding: 16px;
      background-color: var(--white);
    }

    .ProductCard-price {
      font-size: rem-convert(14px);
      line-height: rem-convert(20px);
      font-weight: 400;
    }
    .ProductCard-footer {
      margin-top: 3px;
    }
  }

  &Order {
    background-color: var(--theme-lighter);
    display: flex;
    flex-direction: row;
    max-width: initial;
    align-items: center;
    border: 1px solid var(--theme);
    padding: 8px;
    @screen sm {
      max-width: 540px;
    }

    .ProductCard-header {
      display: none;
    }

    .ProductCard-mainContent {
      display: flex;
      align-items: center;
    }

    .ProductCard-img {
      height: 130px;
      width: 112px;
      @screen sm {
        height: 112px;
      }
    }

    .ProductCard-desc {
      margin-right: auto;
      padding: 0;
      margin-left: 19px;
    }

    .ProductCard-title {
      @apply paragraph-2;
      margin-bottom: 5px;
    }

    .ProductCard-price {
      @apply paragraph-4;
      font-weight: 600;
    }
    .ProductCard-header {
      display: none;
    }
    .ProductCard-footer {
      margin-top: 10px;
    }
  }

  &PurchaseFunnel {
    background-color: var(--theme-lightest);
    border-radius: 0;

    @screen sm {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
    }

    .ProductCard-header {
      display: none;
    }

    .ProductCard-mainContent {
      display: flex;
      padding: 16px;
      padding-bottom: 23px;
      flex-direction: column;
      @screen sm {
        flex-direction: row;
        padding: 8px;
        column-gap: 16px;
      }
      @screen lg {
        align-items: center;
      }
    }

    .ProductCard-imgLink {
      display: flex;
      @screen sm {
        flex-basis: 120px;
      }
    }

    .ProductCard-img {
      height: 232px;
      width: 100%;
      @screen sm {
        height: 112px;
      }
    }

    .ProductCard-title {
      margin-bottom: 5px;
      @apply paragraph-2;
    }

    .ProductCard-desc {
      flex-grow: 1;
      padding: 0;
      padding-top: 10px;

      @screen sm {
        padding: 0;
        padding-right: 8px;
      }
    }

    .ProductCard-orderInfos {
      flex-direction: column;
      @screen lg {
        flex-direction: row;
      }
      & span {
        &:not(:last-child) {
          &:after {
            content: '';
          }
          @screen lg {
            &:after {
              content: '|';
            }
          }
        }
      }
    }

    .ProductCard-footer {
      margin-top: 10px;
      column-gap: 5px;
      &Right {
        flex-direction: column-reverse;
      }
    }

    .ProductCard-price {
      @apply paragraph-4;
      font-weight: 600;
    }

    .ProductCard-quantity {
      @screen sm {
        input {
          width: rem-convert(35px);
        }
      }
    }

    .ProductCard-unavailable {
      font-family: 'Roboto';
      font-weight: 400;
      font-size: rem-convert(14px);
      line-height: rem-convert(20px);
      display: flex;
      align-items: center;
      gap: 4px;
      &::before {
        content: '';
        background-color: var(--error-light);
        border-radius: 100%;
        width: 9px;
        height: 9px;
        display: block;
      }
    }

    .ProductCard-purchaseFunnelCardBottom {
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 50px;
      border-top: 1px solid var(--grey-lighter);
      flex-grow: 1;

      & .Button {
        border-radius: 0;
        background-color: transparent;
        display: flex;
        color: var(--black);
        &:first-child {
          border-right: 1px solid var(--grey-lighter);
        }

        & > span {
          width: 15px;
          height: 15px;
        }
        & svg {
          color: var(--black);
        }
        &:hover {
          background-color: transparent !important;
          text-decoration: underline;
        }
      }
    }
  }

  .ButtonWishList {
    transition: 0.2s;
    display: none;

    @screen sm {
      display: block;
    }
    svg {
      max-width: 35px;
    }
    &:focus {
      outline: none;
    }

    .in-wishlist-icon {
      display: none;

      &:hover {
        svg {
          color: var(--theme-medium);
        }
      }
    }

    .not-in-wishlist-icon {
      display: inline-block;

      &:hover {
        svg {
          color: var(--theme);
        }
      }
    }

    &.in-wishlist {
      .in-wishlist-icon {
        display: inline-block;
      }

      .not-in-wishlist-icon {
        display: none;
      }
    }
  }

  &-header {
    margin-bottom: 0.5rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    z-index: 9;
  }

  &-tagList {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
  }

  .ProductCard-mainContent {
    width: 100%;
  }

  &-img {
    overflow: hidden;
    height: 187px;
    @screen sm {
      height: initial;
    }

    &:focus-visible {
      outline: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: all cubic-bezier(0, 0, 0, 0.7) 0.3s;
    }
  }

  &-orderInfos {
    color: var(--grey);
    display: flex;
    flex-direction: column;
    gap: 3px;
    @screen sm {
      flex-direction: row;
    }

    & span {
      &:not(:last-child) {
        &:after {
          content: '';
        }
        @screen sm {
          &:after {
            content: ',';
          }
        }
      }
    }
  }

  &-footer {
    margin-top: rem-convert(13px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    &Left {
      display: flex;
      flex-direction: column;
      gap: 5px;
      margin-bottom: 13px;

      @screen sm {
        margin-bottom: 0;
        gap: 10px;
      }
    }

    &Right {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .Colors {
    display: flex;
    gap: 6px;
    align-items: center;

    &-item {
      border-radius: 100%;
      width: 12px;
      height: 12px;
    }

    &-others {
      margin-left: 2px;
    }
  }

  .Rating {
    display: flex;
    gap: 11px;
    align-items: center;

    &-mark {
      display: flex;
      gap: 4px;
      max-width: 93px;
      svg {
        color: var(--black);
      }
      .star-empty {
        svg {
          color: var(--grey-lighter);
        }
      }
    }
    &-reviewCount {
      margin-top: 4px;
      text-transform: uppercase;
      color: var(--grey);

      @screen sm {
        font-size: var(--font-size-indication);
        letter-spacing: var(--letter-spacing-indication);
      }
    }
  }

  &-desc {
    padding: 16px;
    @screen sm {
      padding: 24px;
    }
  }

  &-ref {
    margin-top: 8px;
  }

  &-title {
    @apply h5-mobile;
    color: var(--black);
    text-decoration: none;
    transition: inherit;
    display: block;

    @screen sm {
      @apply h5-desktop;
    }
  }

  &-subTitle {
    color: var(--grey);
  }

  &-price {
    @apply paragraph-1;
    font-weight: 600;
    color: var(--black);
    position: relative;
    line-height: normal;
  }

  &-originalPrice {
    color: var(--black);
    font-size: var(--font-size-paragraph-7);
    text-decoration-line: line-through;
    font-family: var(--font-family-paragraph-6);
  }

  &:hover,
  &:focus {
    .ProductCard-img {
      img {
        transform: scale(1.075);
      }
    }
  }

  &:focus,
  &:focus-visible {
    outline: none;

    .ProductCard-img {
      outline: 2px solid theme('colors.gray.400');
    }
  }

  &Wrapper {
    &--outOfStock {
      background-color: var(--error-lightest);
      padding: 16px;
      border: 1px solid var(--error-dark);
      display: flex;
      flex-direction: column;
      .ProductCard {
        max-width: 100%;
        background-color: var(--grey-lightest);
      }
    }
    &-outOfStockMessage {
      color: var(--black);
      display: flex;
      align-items: flex-start;
      gap: 7px;
      margin-bottom: 10px;

      svg {
        width: 20px;
      }
    }
    &-outOfStockButton {
      margin-top: 12px;
      width: 100%;
      @screen lg {
        align-self: flex-end;
        width: initial;
      }
    }
  }
}

.purchase-funnel-card-width {
  max-width: 267px;
  @screen sm {
    max-width: 334px;
  }

  @screen lg {
    max-width: 540px;
  }
}
