<div>
  <div class='mb-5 h4-desktop'>Horizontale</div>
  <div>
    {% include './ProductCard.twig' with {classes:'ProductCardSearch ProductCardSearch--horizontal', imgWidth:'97', imgHeight:'97'} %}
  </div>
</div>

<div class="mt-14">
  <div class='my-5 h4-desktop'>Verticale</div>
  <div>
    {% include './ProductCard.twig' with {classes:'ProductCardSearch ProductCardSearch--vertical', imgWidth:'185', imgHeight:'185'} %}
  </div>
</div>


