<div>
  <div class='mb-5 h4-desktop'>Horizontale</div>
  <div>
    {% include './ProductCard.twig' with {classes:'ProductCardSearch ProductCardSearch--horizontal', width:'97', height:'97'} %}
  </div>
</div>

<div class="mt-14">
  <div class='my-5 h4-desktop'>Verticale</div>
  <div>
    {% include './ProductCard.twig' with {classes:'ProductCardSearch ProductCardSearch--vertical', width:'185', height:'185'} %}
  </div>
</div>


