:root {
  --padding-button-sub: 22px;
  --padding-top-menu: 82px;
  --padding-x-menu: 55px;
  --padding-button-close: 24px;
}

@media screen and (min-width: theme('screens.lg')) {
  #Menu {
    ul {
      button,
      ul {
        @apply hidden;
      }
    }
  }
}
@media screen and (max-width: theme('screens.lg')) {
  #Menu {
    @apply hidden fixed inset-0 bg-white text-black;

    > ul {
      @apply h-full relative;
    }
    ul {
      @apply flex flex-col items-stretch gap-0 pb-[var(--header-nav-height)] pt-[var(--padding-top-menu)] justify-start;

      padding-right: calc(var(--padding-x-menu) - var(--padding-button-sub));
      padding-left: var(--padding-x-menu);

      li {
        @apply flex items-center justify-between text-lg font-semibold;

        line-height: var(--line-height-paragraph-1);
        gap: calc(30px - var(--padding-button-sub));
      }
      a {
        @apply py-[var(--padding-button-sub)];
      }
      button {
        @apply p-[var(--padding-button-sub)];
      }
      svg {
        @apply w-[28px];
      }
      ul {
        @apply hidden fixed bg-white left-0 right-0 top-[var(--padding-top-menu)] bottom-[var(--header-nav-height)] pt-0;

        &.is-active {
          @apply block;
        }
      }
    }

    &.is-open {
      @apply block h-full;
    }
  }
}

[data-menu-close] {
  @apply block lg:hidden p-[var(--padding-button-close)] absolute right-0 top-0 z-10;

  svg {
    @apply w-[32px] text-grey-dark;
  }
}

[data-menu-back] {
  @apply lg:hidden p-[var(--padding-button-close)] absolute  top-0 z-10 -translate-y-1/2;

  left: calc(var(--padding-x-menu) - var(--padding-button-close));
  top: calc(var(--padding-top-menu) / 2);

  svg {
    @apply w-[28px];
  }
}

[data-menu-back='-1'] {
  @apply hidden;
}
