<div>
  {% include './Checkbox.twig' with {label: 'Unchecked',disabled: disabled, error:error} %}
  {% include './Checkbox.twig' with {label: 'Checked',disabled: disabled, error:error, checked:true} %}
  {% include './Checkbox.twig' with
    {label: 'Undefined',disabled: disabled, error:error, classes:'indeterminate'}
  %}
</div>
