.FilterPill {
  @apply paragraph-4;
  padding: rem-convert(8px) rem-convert(10px);
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  color: var(--grey-dark);
  border: 1.5px solid var(--theme-light);
  cursor: pointer;

  &--withIcon {
    padding: rem-convert(8px) rem-convert(10px) rem-convert(8px)
      rem-convert(4px);
  }



  &-iconClose {
    width: rem-convert(21px);
    height: rem-convert(21px);
    display: none;
    margin-left: rem-convert(4px);
  }

  &:has(:checked) {
    background-color: var(--theme-light);
    border: 1.5px solid var(--theme-medium);
    .FilterPill-iconClose {
      display: inline-block;
    }
  }

  &-icon {
    width: rem-convert(21px);
    height: rem-convert(21px);
    display: inline-block;
    margin-right: rem-convert(4px);
  }

  &[disabled] {
    border-color: var(--grey-lighter);
    color: var(--grey-lighter);
    cursor: not-allowed;
    background-color: var(--grey-lightest);

    .FilterPill-icon {
      color: var(--grey-lighter);
    }
  }
}
