.Fonts {
  display: grid;
  > div {
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid var(--grey-lighter);
    padding: 1rem 0;
  }
}

.h1 {
  font-size: var(--font-size-h1-m);
  font-weight: var(--font-weight-h1);
  line-height: var(--line-height-h1-m);
  @screen md {
    font-size: var(--font-size-h1-d);
    font-weight: var(--font-weight-h1);
    line-height: var(--line-height-h1-d);
  }
}
.h2 {
  font-size: var(--font-size-h2-m);
  font-weight: var(--font-weight-h2);
  line-height: var(--line-height-h2-m);
  @screen md {
    font-size: var(--font-size-h2-d);
    font-weight: var(--font-weight-h2);
    line-height: var(--line-height-h2-d);
  }
}

.h3 {
  font-size: var(--font-size-h3-m);
  font-weight: var(--font-weight-h3);
  line-height: var(--line-height-h3-m);
  @screen md {
    font-size: var(--font-size-h3-d);
    font-weight: var(--font-weight-h3);
    line-height: var(--line-height-h3-d);
  }
}

.h4 {
  font-size: var(--font-size-h4-m);
  font-weight: var(--font-weight-h4);
  line-height: var(--line-height-h4-m);
  @screen md {
    font-size: var(--font-size-h4-d);
    font-weight: var(--font-weight-h4);
    line-height: var(--line-height-h4-d);
  }
}

.h5 {
  font-size: var(--font-size-h5-m);
  font-weight: var(--font-weight-h5);
  line-height: var(--line-height-h5-m);
  @screen md {
    font-size: var(--font-size-h5-d);
    font-weight: var(--font-weight-h5);
    line-height: var(--line-height-h5-d);
  }
}

.h6 {
  font-size: var(--font-size-h6-m);
  font-weight: var(--font-weight-h6);
  line-height: var(--line-height-h6-m);
  @screen md {
    font-size: var(--font-size-h6-d);
    font-weight: var(--font-weight-h6);
    line-height: var(--line-height-h6-d);
  }
}

.paragraph-1 {
  font-size: var(--font-size-paragraph-1);
  font-family: var(--font-family-paragraph-1);
  line-height: var(--line-height-paragraph-1);
}
.paragraph-2 {
  font-size: var(--font-size-paragraph-2);
  font-family: var(--font-family-paragraph-2);
  line-height: var(--line-height-paragraph-2);
}
.paragraph-3 {
  font-size: var(--font-size-paragraph-3);
  font-family: var(--font-family-paragraph-3);
  line-height: var(--line-height-paragraph-3);
}
.paragraph-4 {
  font-size: var(--font-size-paragraph-4);
  font-family: var(--font-family-paragraph-4);
  line-height: var(--line-height-paragraph-4);
}
.paragraph-5 {
  font-size: var(--font-size-paragraph-5);
  font-family: var(--font-family-paragraph-5);
  line-height: var(--line-height-paragraph-5);
}
.paragraph-6 {
  font-size: var(--font-size-paragraph-6);
  font-family: var(--font-family-paragraph-6);
  line-height: var(--line-height-paragraph-6);
}

.paragraph-7 {
  font-size: var(--font-size-paragraph-7);
  font-family: var(--font-family-paragraph-7);
  line-height: var(--line-height-paragraph-7);
}

.paragraph {
  &--semibold {
    font-weight: 600;
  }

  &--bold {
    font-weight: 700;
  }
}

.typo-button {
  &-large {
    font-size: var(--font-size-button-large);
    font-family: var(--font-family-button-large);
    font-weight: var(--font-weight-button-large);
  }
  &-medium {
    font-size: var(--font-size-button-medium);
    font-family: var(--font-family-button-medium);
    font-weight: var(--font-weight-button-medium);
  }
  &-small {
    font-size: var(--font-size-button-small);
    font-family: var(--font-family-button-small);
    font-weight: var(--font-weight-button-small);
  }
}

a {
  text-decoration: underline;
}

.link {
  font-size: var(--font-size-link-medium);
  font-family: var(--font-family-link-medium);
  font-weight: var(--font-weight-link-medium);
  text-decoration: underline;

  &-large {
    font-size: var(--font-size-link-large);
    font-family: var(--font-family-link-large);
    font-weight: var(--font-weight-link-large);
  }
  &-small {
    font-size: var(--font-size-link-small);
    font-family: var(--font-family-link-small);
    font-weight: var(--font-weight-link-small);
  }
}

.indication {
  text-transform: uppercase;
  font-family: var(--font-family-indication);
  font-weight: var(--font-weight-indication);
  font-size: var(--font-size-indication);
  letter-spacing: var(--letter-spacing-indication);
  &-small {
    font-size: var(--font-size-indication-small);
    letter-spacing: var(--letter-spacing-indication-small);
  }

  &-lower {
    text-transform: lowercase;
  }
}
