<div class='Fonts grid-cols-3'>
  <div class='typo-button-large'>Button L</div>
  <div class='typo-button-medium'>Button M</div>
  <div class='typo-button-small'>Button S</div>
  <div><a href='#' class='link link-large'>Link L</a></div>
  <div><a href='#' class='link'>Link M</a></div>
  <div><a href='#' class='link link-small'>Link S</a></div>
  <div class='paragraph-3'><a href='#'>Link P3</a></div>
  <div class='paragraph-4'><a href='#'>Link P4</a></div>
  <div class='paragraph-5'><a href='#'>Link P5</a></div>
  <div class='indication'>Indication</div>
  <div class='indication indication-small'>Indication Small</div>
</div>
