<div class='Fonts grid-cols-2'>
  <div class='h1-desktop'>H1 Desktop</div>
  <div class='h1-mobile'>H1 Mobile</div>
  <div class='h2-desktop'>H2 Desktop</div>
  <div class='h2-mobile'>H2 Mobile</div>
  <div class='h3-desktop'>H3 Desktop</div>
  <div class='h3-mobile'>H3 Mobile</div>
  <div class='h4-desktop'>H4 Desktop</div>
  <div class='h4-mobile'>H4 Mobile</div>
  <div class='h5-desktop'>H5 Desktop</div>
  <div class='h5-mobile'>H5 Mobile</div>
  <div class='h6-desktop'>H6 Desktop</div>
  <div class='h6-mobile'>H6 Mobile</div>
</div>
