{% set customText = customText|default('') %}
{% set button = button|default('') %}

<div class="SuggestFilters">
    <div class="SuggestFilters-desc">{{ customText }}</div>
    {% include '../../../Molecules/Button/Button.twig' with {text: button, variant: "secondary", icon_left: "filter", classes: ' Button--medium'} %}
</div>
