.PickupPointModule {
  max-width: rem-convert(340px);
  @screen md {
    max-width: rem-convert(444px);
  }
  @screen xl {
    max-width: rem-convert(540px);
  }
  background: var(--theme-lightest);
  border: 1px solid var(--theme-lightest);
  border-radius: rem-convert(8px);

  &-searchZone {
    display: none;
  }
  &.selected {
    border: 1px solid var(--theme-medium);
    .PickupPointModule-content {
      background: var(--theme-lighter);
      border-top-left-radius: rem-convert(8px);
      border-top-right-radius: rem-convert(8px);
    }
    .PickupPointModule-searchZone {
      display: block;
      padding: rem-convert(16px);
      padding-top: rem-convert(30px);
      @screen md {
        padding: rem-convert(40px);

      }
    }
  }

  &-content {
    display: flex;
    align-items: flex-start;
    padding: rem-convert(16px);
    & > span:last-child {
      flex-grow: 1;
    }
    .Radio {
      margin-top: 4px;
      margin-right: 8px;
    }
    span:not(.PickupPointModule-top):not(.Tag) {
      display: block;
    }
    .PickupPointModule-top {
      display: flex;
      justify-content: space-between;
    }
  }

  &-title {
    @apply paragraph-1;
    font-weight: 600;
    color: var(--black);
  }

  &-description {
    @apply paragraph-6;
    color: var(--grey);
    margin-top: rem-convert(4px);
  }

  &-price {
    @apply paragraph-4;
    font-weight: 600;
    color: var(--black);
  }
  &-buttonView {
    @screen maxMd {
      @apply Button--small Button--fill;
    }
  }
}
