{% set options = options|default([]) %}
{# options:  [{ value: 1, label: 'State Blue' }, ...] #}
{% set isRounded = isRounded|default(false) %}
{% set name = name|default('classic') %}
{% set label = label|default(null) %}
{% set value = value|default(null) %}

{% if label %}
	<div class="paragraph-4 font-semibold mb-[9px] hidden lg:block">{{ label }}</div>
{% endif %}
<div class='flex-wrap hidden gap-2 md:flex'>
	{% for option in options %}
		{% include '@components/Molecules/Filters/FilterPill/FilterPill.html.twig' with option|merge({customText: option.label,inputType: 'radio', name, value: option.value, selected: value == option.value}) %}
	{% endfor %}
</div>
<div class='md:hidden'>
	{% include '@components/Molecules/Filters/FilterSelect/FilterSelect.html.twig' with {id, isRounded:isRounded, options, name} %}
</div>
