{% set options = options|default([]) %} {# options:  [{ value: 1, label: 'State Blue' }, ...] #}
{% set isRounded = isRounded|default(false) %}
{% set name = name|default('classic') %}
{% set label = label|default(null) %}

{% if label %}
  <div class="paragraph-4 font-semibold mb-[9px]">{{ label }}</div>
{% endif %}
<div class='hidden md:flex gap-2 flex-wrap'>
  {% for option in options %}
    {% include '@components/Molecules/Filters/FilterPill/FilterPill.html.twig' with option|merge({customText: option.label,inputType: 'radio', name: name, value: option.value}) %}
  {% endfor %}
</div>
<div class='md:hidden'>
  {% include '@components/Molecules/Filters/FilterSelect/FilterSelect.html.twig' with {id: id, isRounded:isRounded, options: options} %}
</div>
