{% set options = options|default([]) %} {# options:  [{ value: 1, label: 'State Blue' }, ...] #}
{% set isRounded = isRounded|default(false) %}

<div class='hidden md:block'>
  {% for option in options %}
    {% include '@components/Molecules/Filters/FilterPill/FilterPill.twig' with {customText: option.label,inputType: 'radio', name: 'classic', value: option.value} %}
  {% endfor %}
</div>
<div class='md:hidden'>
  {% include '@components/Molecules/Filters/FilterSelect/FilterSelect.twig' with {id: 'classicFilterSelect', isRounded:isRounded, options: options} %}
</div>
