.SimilarContents {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @screen md {
    flex-direction: row;
    overflow: hidden;
    .SimilarContentCard {
      width: 340px;
      flex-shrink: 0;

      &:last-child {
        margin-right: 3rem;
      }
    }
  }
  @screen lg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    cursor: initial;
    .SimilarContentCard {
      width: initial;
      &:active {
        cursor: initial;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  @screen xl {
    @apply container mx-auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    .SimilarContentCard {
      width: initial;
      flex-shrink: 0;
      &:active {
        cursor: initial;
      }
    }
  }
}
