{% set title = title|default('') %}
{% set similarContents = similarContents|default(this.similarContents|default([])) %}
{% set button = button|default(null) %}

<div class="px-6 py-20 mx-auto md:px-12 md:pr-0 lg:px-0 lg:container">

	<div class='pb-6 text-black h4'>{{ title }}</div>

	<div class='SimilarContents slider'>
		{% for similarContent in similarContents %}
    {% include '@components/Organisms/SimilarContentCard/SimilarContentCard.html.twig' with similarContent %}
		{% endfor %}
	</div>
	{% if button %}
		{% include '@components/Molecules/Button/Button.html.twig' with {text: button.label, href: button.href,icon_right:'chevron-right', variant:'secondary', classes: 'mt-5'} %}
	{% endif %}
</div>
