{% set title = title|default('') %}
{% set desc = desc|default('') %}
{% set img = img|default({url: '/images/placeholder2.webp', alt:''}) %}

<div class="SelfPromotion">
  <img src="{{ img.url }}" alt="{{ img.alt }}" loading="lazy" class="SelfPromotion-img">
  <div class="SelfPromotion-content">
    <p class="SelfPromotion-title">{{ title }}</p>
    <p class="SelfPromotion-desc">{{ desc }}</p>
  </div>
</div>
