<div class="SelfPromotion">
  <img src="{{ img and img.url ? imag.url : '/images/placeholder2.webp' }}" alt="{{ img and img.alt ? img.alt : '' }}" class="SelfPromotion-img">
  <div class="SelfPromotion-content">
    <p class="SelfPromotion-title">{{ title }}</p>
    <p class="SelfPromotion-desc">{{ desc }}</p>
  </div>
</div>
