.Steps {
  --step-width: 1.875rem;
  align-items: center;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--theme-lightest);
  border-bottom: 1px solid var(--theme-medium);

  .CheckoutSteps {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 35px 20px;
    align-items: center;

    @screen md {
      display: initial;
      width: initial;
    }

    &-stepBack {
      display: flex;
      width: 55px;
      cursor: pointer;

      @screen md {
        display: none;
      }
    }

    .StepProgressBar {
      @screen md {
        display: none;
      }
      &-inner {
        margin-right: 15px;
        flex-shrink: 0;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: conic-gradient(
          var(--theme-medium) var(--p, 0%),
          transparent 0
        );
      }
      &-progression {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--grey-dark);
        width: 30px;
        height: 30px;
        background-color: var(--theme-lightest);
        border-radius: 50%;
        font-size: rem-convert(14px);
        font-weight: 400;
        border: 1px solid var(--theme-medium);
      }
    }

    &-steps {
      display: flex;
      position: relative;
      color: var(--white);
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
      width: 100%;
      justify-content: center;

      @screen md {
        flex-direction: initial;
        gap: 0;
        justify-content: space-between;
        width: initial;
        padding-right: 0;
        padding-left: 0;

        &::after {
          position: absolute;
          top: calc(50% - 1px);
          right: 0;
          left: 0;
          z-index: 1;
          height: 1px;
          background: var(--theme-medium);
          content: '';
        }
      }
      @screen lg {
        gap: 70px;
      }

      .Step {
        @apply flex items-center justify-center;
        gap: 7px;
        &:hover {
          cursor: pointer;
        }
        &-circle {
          @apply rounded-full flex items-center justify-center font-semibold;
          color: var(--black);
          width: 28px;
          height: 28px;
          font-size: rem-convert(14px);
          font-weight: 400;
          background-color: transparent;
          border: 1px solid var(--theme-medium);
        }

        &.active {
          .Step-circle {
            background-color: var(--theme-medium);
          }
        }
        &.validated {
          .Step-circle {
            background-color: var(--theme-light);
          }
        }
        &-title {
          color: var(--black);
          font-size: rem-convert(14px);
          font-weight: 600;
          @screen md {
            font-weight: 400;
            display: block !important;
          }
        }

        &:not(.active) {
          display: none;
        }

        &.active {
          .Step-circle {
            display: none;
          }
        }

        &-title {
          @screen lg {
            display: block !important;
          }
        }

        @screen lg {
          margin: 0 !important;

          &:not(.active) {
            /* stylelint-disable-next-line max-nesting-depth */
            .Step-title {
              display: block;
            }
          }
        }

        @screen md {
          z-index: 2;
          display: flex !important;
          margin: 0 22px;
          padding: 0 10px;
          background: var(--theme-lightest);

          &:last-child {
            margin-right: 0;
            padding-right: 0;
          }

          &:first-child {
            margin-left: 0;
            padding-left: 0;
          }

          &:not(.active) {
            /* stylelint-disable-next-line max-nesting-depth */
            .Step-title {
              display: none;
            }
          }

          &.active {
            /* stylelint-disable-next-line max-nesting-depth */
            .Step-circle {
              display: flex;
            }
          }
        }
      }
    }

    &-cartInfos {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      color: var(--black);
      width: inherit;

      @screen md {
        display: none;
      }

      &Total {
        font-weight: 600;
        font-size: rem-convert(14px);
      }

      &Quantity {
        font-size: rem-convert(14px);
      }
    }
  }
}
