{% set classes = classes|default('') %}
{% set name = name|default('') %}
{% set value = value|default('') %}
{% set label = label|default('') %}
{% set disabled = disabled|default(false) %}

<label class="RadioCard {{ classes }}">
  <input
    type="radio"
    class="RadioCard-input"
    name='{{ name }}'
    value='{{ value }}'
    {% if disabled %}disabled{% endif %}
  >
    <span class="RadioCard-checkmark"></span>
    <span class="RadioCard-label">{{ label }}</span>
</label>
