.Payment {
  background: var(--theme-lightest);
  border: 1px solid var(--theme-lightest);
  border-radius: rem-convert(8px);
  max-width: rem-convert(340px);

  @screen lg {
    max-width: rem-convert(540px);
  }

  &.selected {
    background: var(--theme-lighter);
    border: 1px solid var(--theme-medium);
  }

  label {
    cursor: pointer;
  }

  &-title {
    @apply paragraph-2;
    font-weight: 600;
    color: var(--black);
  }

  &-content {
    display: flex;
    align-items: flex-start;
    padding: rem-convert(16px);

    span {
      display: block;
    }
    > span:last-child {
      flex-grow: 1;
    }
    .Radio {
      margin-top: 4px;
      margin-right: 8px;
    }
  }

  &-bottom {
    border-radius: 0 0 rem-convert(8px) rem-convert(8px);
    padding: rem-convert(16px);
  }
}
