{% set maxScore = maxScore|default(5) %}
{% set score = score|default(0) %}

<div class="Score">
  {% for star in 1..score %}
    <span class="Score-star">{{ ux_icon("star") }}</span>
  {% endfor %}
  {% if score < maxScore %}
    {% for star in 1..(maxScore - score) %}
      <span class="Score-star Score-star--empty">{{ ux_icon("star") }}</span>
    {% endfor %}
  {% endif %}
</div>
