:root {
  --header-height: 48px;

  @screen sm {
    --header-height: 80px;
  }
}

.Header,
.HeaderCheckout {
  box-shadow: 0 -1px 0 0 var(--grey-lighter) inset;
}

.Header {
  @apply h-[var(--header-height)] flex justify-center md:justify-between  sm:pl-[30px] py-px;

  .HeaderButton {
    &--search,
    &--menu {
      .HeaderButton--text {
        @apply sr-only;
      }
    }

    &--account {
      --header-button-bg: var(--white);
      --header-button-color: var(--black);

      @screen lg {
        --header-button-bg: var(--theme-light);
        --header-button-color: var(--black);
      }

      &:hover {
        --header-button-bg: var(--grey-lightest);

        @screen lg {
          --header-button-bg: var(--theme-medium);
        }
      }
    }

    &--cart {
      --header-button-bg: var(--white);
      --header-button-color: var(--black);

      @screen lg {
        --header-button-bg: var(--black);
        --header-button-color: var(--white);
      }

      &:hover {
        --header-button-bg: var(--grey-lightest);

        @screen lg {
          --header-button-bg: var(--grey-darker);
        }
      }
    }

    &--search,
    &--menu,
    &--wishlist {
      --header-button-bg: var(--white);
      --header-button-color: var(--black);

      &:hover {
        --header-button-bg: var(--grey-lightest);
      }
    }
  }

  &-logo {
    @apply w-[60px] h-[18px] sm:w-[98px] sm:h-[30px];
  }

  &-navigation {
    @apply hidden lg:flex items-stretch justify-center gap-[30px] xl:gap-[50px];
  }

  &--withSearchBar {
    @screen sm {
      --header-height: 100px;
    }
  }
  &.is-sticky {
    @screen sm {
      --header-height: 60px;
    }

    .Header-logo {
      @apply sm:w-[80px] sm:h-[24px];
    }
  }
}
