{% set type = type|default("generic") %}
{% set categories = categories|default(resources('/api/front/categories')) %}
{% set complexNav = complexNav|default(false) %}

<header class='Header  {% if type == "sticky" %}is-sticky{% endif %} {% if type == "searchbar" %}Header--withSearchBar{% endif %}'>
	<div class='flex'>
		{% if type == "searchbar" %}
			<div class='hidden lg:block xl:hidden'>
				{% include '@components/Molecules/HeaderButton/HeaderButton.html.twig' with {icon: 'menu', text: 'Cart', classes: 'HeaderButton--light', small: true } %}
			</div>
		{% endif %}

		<div class='flex items-center self-center h-full'>
			<a href="/" class='Header-logo'>
				{{ ux_icon('thelia') }}
			</a>
		</div>
	</div>

	{% if type == "searchbar" %}
		{{ component('Flexy:SearchBar') }}
  {% endif %}
  <nav class='Header-navWrap'>
    <button type="button" data-menu-back="-1">
      {{ ux_icon('arrow-left') }}
    </button>
    <button type="button" data-menu-close>
      {{ ux_icon('close') }}
    </button>

    {% include '@components/Organisms/Navigation/Navigation.html.twig' with {
      categories: categories,
      complexNav: complexNav
    } %}
  </nav>
	{% include '@components/Organisms/HeaderNav/HeaderNav.html.twig' with {type: type} %}
