{% set data = data|default([]) %} {# data: [{strongText: 'Livraison gratuite',text: ' à partir de 50€',icon: 'reinsurance-delivery'},...] #}

<div class='Reinsurance'>
  {% for reinsurance in data %}
    <div>
      {% if reinsurance.icon %}
        <span class='Reinsurance-icon'>{{ ux_icon(reinsurance.icon) }}</span>
      {% endif %}
      <span>
        {% if reinsurance.strongText %}
          <strong>{{ reinsurance.strongText }}</strong>
        {% endif %}
        {{ reinsurance.text }}
      </span>
    </div>
  {% endfor %}
</div>
