.Link {
  font-size: var(--font-size-link-large);
  font-family: var(--font-family-link-large);
  font-weight: var(--font-weight-link-large);
  color: var(--black);
  display: inline-flex;
  align-items: center;
  padding: rem-convert(3px);
  transition: 0.2s ease all;
  outline: 0;

  &:hover {
    color: var(--grey);
  }

  &:focus {
    background-color: var(--grey-lightest);
  }

  &:active {
    color: var(--theme);
  }

  &[disabled] {
    color: var(--grey-lighter);
    cursor: not-allowed;
  }

  &--medium {
    font-size: var(--font-size-link-medium);
    font-family: var(--font-family-link-medium);
    font-weight: var(--font-weight-link-medium);
  }

  &-icon {
    width: rem-convert(18px);
    height: rem-convert(18px);
    display: flex;
  }
}
