<div class='Article'>
  <img src="{{ img and img.url ? imag.url : '/images/placeholder2.webp' }}" alt="{{ img and img.alt ? img.alt : '' }}" class="Article-img">
  <div class='Article-content'>
    <div class='Article-title'>{{ title }}</div>
    <div class='Article-date'>{{ date }}</div>
  </div>
</div>
