{% set iconLeft =  icon_left == 'none' ? '' : icon_left %}
{% set iconRight =  icon_right == 'none' ? '' : icon_right %}
<div>
  <div class='h4-desktop mb-5'>Large</div>
  <div  class='flex gap-4'>
    {% include './Button.html.twig' with
      {disabled: false, classes:'Button--large', variant:variant, fill:fill, rectangle:rectangle, text:customText,
        icon_left: iconLeft,
        icon_right: iconRight} %}
    {% include './Button.html.twig' with
      {disabled: true, classes:'Button--large', variant:variant, fill:fill, rectangle:rectangle, text:customText,
        icon_left: iconLeft,
        icon_right: iconRight} %}
  </div>
</div>

<div>
  <div class='h4-desktop my-5'>Medium</div>
  <div  class='flex gap-4'>
    {% include './Button.html.twig' with
      {disabled: false, variant:variant, fill:fill, rectangle:rectangle, text:customText,
        icon_left: iconLeft,
        icon_right: iconRight} %}
    {% include './Button.html.twig' with
      {disabled: true, classes:classes, text:customText,
        icon_left: iconLeft,
        icon_right: iconRight} %}
  </div>
</div>

<div>
  <div class='h4-desktop my-5'>Small</div>
  <div  class='flex gap-4'>
    {% include './Button.html.twig' with
      {disabled: false, classes:'Button--small', variant:variant, fill:fill, rectangle:rectangle, text:customText,
        icon_left: iconLeft,
        icon_right: iconRight} %}
    {% include './Button.html.twig' with
      {disabled: true, classes:'Button--small', variant:variant, fill:fill, rectangle:rectangle, text:customText,
        icon_left: iconLeft,
        icon_right: iconRight} %}
  </div>
</div>
