<div class='Button-quantityButton'>
  {% include './Quantity.twig' with {disabled: disabled, value:value, classes:classes} %}
  {% include './Button.twig' with {disabled: disabled, text:text, classes:classes, icon_left: icon} %}
</div>
