
<div>
  <div class='h4-desktop mb-5'>Large</div>
  <div  class='flex gap-4'>
    <div role="button" class='Button Button--large Button-quantity'>
      <button data-qty='minus'>-</button>
      <input type='number' value='1'>
      <button data-qty='plus'>+</button>
    </div>

    <div role="button" class='Button Button--large Button-quantity disabled'>
      <button data-qty='minus' disabled>-</button>
      <input type='number' disabled value='1'>
      <button data-qty='plus' disabled>+</button>
    </div>
  </div>

  <div class='h4-desktop my-5'>Medium</div>
  <div  class='flex gap-4'>
    <div role="button" class='Button Button-quantity'>
      <button data-qty='minus'>-</button>
      <input type='number' value='1'>
      <button data-qty='plus'>+</button>
    </div>

    <div role="button" class='Button Button-quantity disabled'>
      <button data-qty='minus' disabled>-</button>
      <input type='number' disabled value='1'>
      <button data-qty='plus' disabled>+</button>
    </div>
  </div>

  <div class='h4-desktop my-5'>Small</div>
  <div  class='flex gap-4'>
    <div role="button" class='Button Button--small Button-quantity'>
      <button data-qty='minus'>-</button>
      <input type='number' value='1'>
      <button data-qty='plus'>+</button>
    </div>

    <div role="button" class='Button Button--small Button-quantity disabled'>
      <button data-qty='minus' disabled>-</button>
      <input type='number' disabled value='1'>
      <button data-qty='plus' disabled>+</button>
    </div>
  </div>

  <div class='h4-desktop my-5'>Small</div>
  <div  class='flex gap-4'>
    <div role="button" class='Button Button--secondary Button-quantity'>
      <button data-qty='minus'>-</button>
      <input type='number' value='1'>
      <button data-qty='plus'>+</button>
    </div>

    <div role="button" class='Button Button--secondary Button-quantity disabled'>
      <button data-qty='minus' disabled>-</button>
      <input type='number' disabled value='1'>
      <button data-qty='plus' disabled>+</button>
    </div>
  </div>
</div>
