{% set classes = '' %}
{% if type != 'primary' %}{% set classes = classes ~ ' Button--' ~ type %}{% endif %}

<div  class='flex gap-4'>
  <button class='Button Button--round {{ classes }}'>
    <span>{{ source("/icons/" ~ icon ~ ".svg") }}</span>
  </button>
</div>
