{% set classes = 'Button--round' %}
{% if variant != 'primary' %}{% set classes = classes ~ ' Button--' ~ variant %}{% endif %}

<div>
  <div class='h4-desktop mb-5'>Large</div>
  <div  class='flex gap-4'>
    {% include './Button.html.twig' with
      {classes:'Button--large',
        round:true,
        variant:variant,
        icon_left: icon} %}
    {% include './Button.html.twig' with
      {disabled: true,round:true, classes:'Button--large',
        icon_left: icon} %}
  </div>
</div>

<div class='mt-5'>
  <div class='h4-desktop mb-5'>Small</div>
  <div  class='flex gap-4'>
    {% include './Button.html.twig' with
      {classes:'Button--small', round:true,
        icon_left: icon} %}
    {% include './Button.html.twig' with
      {disabled: true, classes:'Button--small', round:true,
        icon_left: icon} %}
  </div>
</div>
