<header class='HeaderCheckout flex justify-between {{ classes }} h-12 xl:h-20 px-6 py-[15px] xl:py-[25px]'>
  <div class='xl:mx-auto HeaderCheckout-icon'>{{ source("/icons/thelia.svg") }}</div>
  <div class='flex xl:absolute xl:right-6 HeaderCheckout-reassurance text-[14px] items-center gap-[2px]'>
    <div class="w-[20px]">
      {{ source("/icons/lock.svg") }}
    </div>
    <span>100% sécurisé</span>
  </div>
</header>
